In [2]:
!pip install pgmpy

Requirement already satisfied: pgmpy in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (1.0.0)
Requirement already satisfied: networkx in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (3.5)
Requirement already satisfied: numpy in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (2.2.1)
Requirement already satisfied: scipy in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (1.16.3)
Requirement already satisfied: scikit-learn in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (1.7.2)
Requirement already satisfied: pandas in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (2.2.3)
Requirement already satisfied: torch in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (2.9.0)
Requirement already satisfied: statsmodels in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (0.14.5)
Requirement already satisfied: tqdm in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (4.67.1)
Requirement already satisfied: joblib in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (1.5.2)
Requirement already satisfied: opt-einsum in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (3.4.0)
Requirement already satisfied: pyro-ppl in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pgmpy) (1.9.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pandas->pgmpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pandas->pgmpy) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pandas->pgmpy) (2024.2)
Requirement already satisfied: pyro-api>=0.1.1 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from pyro-ppl->pgmpy) (0.1.2)
Requirement already satisfied: filelock in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (3.20.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (4.15.0)
Requirement already satisfied: sympy>=1.13.3 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (1.14.0)
Requirement already satisfied: jinja2 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (2025.10.0)
Requirement already satisfied: setuptools in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from torch->pgmpy) (80.9.0)
Requirement already satisfied: colorama in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from tqdm->pgmpy) (0.4.6)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn->pgmpy) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from statsmodels->pgmpy) (1.0.2)
Requirement already satisfied: packaging>=21.3 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from statsmodels->pgmpy) (24.2)
Requirement already satisfied: six>=1.5 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas->pgmpy) (1.17.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from sympy>=1.13.3->torch->pgmpy) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\windows 11\appdata\local\programs\python\python313\lib\site-packages (from jinja2->torch->pgmpy) (3.0.3)

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import pandas as pd

In [4]:
from pgmpy.models import DiscreteBayesianNetwork
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.inference import VariableElimination

In [5]:
# Read Cleveland Heart Disease data 
heartDisease = pd.read_csv("heart.csv")

In [6]:
heartDisease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           303 non-null    int64
 1   sex           303 non-null    int64
 2   cp            303 non-null    int64
 3   trestbps      303 non-null    int64
 4   chol          303 non-null    int64
 5   fbs           303 non-null    int64
 6   restecg       303 non-null    int64
 7   thalach       303 non-null    int64
 8   exang         303 non-null    int64
 9   oldpeak       303 non-null    float64
 10  slope         303 non-null    int64
 11  ca            303 non-null    object
 12  thal          303 non-null    object
 13  heartdisease  303 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.3+ KB

In [7]:
heartDisease.shape

(303, 14)

In [8]:
heartDisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [9]:
heartDisease.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease
298,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [10]:
heartDisease.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'heartdisease'],
      dtype='object')

In [11]:
heartDisease.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,heartdisease
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000

In [12]:
heartDisease = heartDisease.replace('?', np.nan)

In [13]:
# Model Bayesian Network
model = DiscreteBayesianNetwork([('age','trestbps'),('age','fbs'),('sex','trestbps'),('exang','trestbps'),('trestbps','heartdisease'),
                       ('fbs','heartdisease'),('heartdisease','restecg'), ('heartdisease','thalach'),('heartdisease','chol')])

In [14]:
# Learning CPDs using Maximum Likelihood Estimators
print('\nLearning CPD using Maximum likelihood estimators')
model.fit(heartDisease, estimator=MaximumLikelihoodEstimator)

INFO:pgmpy: Datatype (N=numerical, C=Categorical Unordered, O=Categorical Ordered) inferred from data:
 {'age': 'N', 'sex': 'N', 'cp': 'N', 'trestbps': 'N', 'chol': 'N', 'fbs': 'N', 'restecg': 'N', 'thalach': 'N', 'exang': 'N', 'oldpeak': 'N', 'slope': 'N', 'ca': 'C', 'thal': 'C', 'heartdisease': 'N'}

Learning CPD using Maximum likelihood estimators

In [15]:
# Inferencing with Bayesian Network 
print('Inferencing with Bayesian Network:') 
HeartDisease_infer = VariableElimination(model)

# Probability of HeartDisease given Age = 38
print('1. Probability of HeartDisease given Age=29') 
q1 = HeartDisease_infer.query(variables=['heartdisease'], evidence={'age':29})
print(q1)

# Probability of HeartDisease given cholesterol 
print('\n 2. Probability of HeartDisease given cholesterol=126') 
q=HeartDisease_infer.query(variables=['heartdisease'], evidence ={'chol':126})
print(q)

Inferencing with Bayesian Network:
1. Probability of HeartDisease given Age=29
+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.5870 |
+-----------------+---------------------+
| heartdisease(1) |              0.1808 |
+-----------------+---------------------+
| heartdisease(2) |              0.1006 |
+-----------------+---------------------+
| heartdisease(3) |              0.0792 |
+-----------------+---------------------+
| heartdisease(4) |              0.0524 |
+-----------------+---------------------+

 2. Probability of HeartDisease given cholesterol=126
+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              1.0000 |
+-----------------+---------------------+
| heartdisease(1) |              0.0000 |
+-----------------+---------------------+
| heartdisease(2) |              0.0000 |
+-----------------+---------------------+
| heartdisease(3) |              0.0000 |
+-----------------+---------------------+
| heartdisease(4) |              0.0000 |
+-----------------+---------------------+